@import "~@gitee/wysiwyg-editor-theme/src/variable";

.gwe-uploader {

  &__img {
    display: block;
    margin: 16px 0;

    &-placeholder {
      width: 350px;
      position: relative;

      img {
        display: block;
        width: 100%;
      }
    }

    &-progress {
      width: 80%;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 10px;
      background: rgba(0, 0, 0, .6);
      transform: translate(-50%, -50%);
      overflow: hidden;

      &-inner {
        display: block;
        height: 100%;
        border-radius: 10px;
        background: @theme-color;
      }
    }
  }

}
