.ProseMirror {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px;
}


html, body {
  margin: 0;
  padding: 0;
}

.demo {
  display: flex;

  .demo-editor {
    width: 50%;
  }

  .demo-devtool {
    width: 50%;
    border-radius: 4px;
    padding: 20px;

    .demo-devtool-content-json {
      width: 100%;
      display: block;
      background: #f5f6f8;
      white-space: pre;
      word-break: keep-all;
      font-size: 14px;
      line-height: 1.3;
      overflow-x: auto;
    }

    .demo-devtool-content-html {
      width: 100%;
      display: block;
      background: #f5f6f8;
      white-space: pre-wrap;
      word-break: keep-all;
      font-size: 14px;
      line-height: 1.3;
    }
  }


}


