@import (reference) '~@gitee/wysiwyg-editor-theme/src/variable.less';

.gwe-mention-member__item {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  padding:  3px 5px;
  background-color: @theme-bg-color;
}

.gwe-mention-member__avatar {
  margin-right: 5px;
}

.gwe-mention-member__name {
}